body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Overpass Mono", monospace;
}
/* navbar */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/068/852/original/ab-80f19cbdaba77b8a37297fffda3371b684bcf03d.jpg?1677182949);
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  padding: 19px 60px 0 60px;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
/*  */
/*  */
.responsive-img {
  width: 100%;
}
.container {
  padding: 100px 300px;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/068/852/original/ab-80f19cbdaba77b8a37297fffda3371b684bcf03d.jpg?1677182949);
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 0px;
  /* height: 100vh; */
}
header .logo {
  margin: 168px 0;
  opacity: 0.7;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  opacity: 0.5;
}
h3 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}
h4 {
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  margin-bottom: 30px;
}
h4.flip {
  transform: rotate(-90deg);
  position: absolute !important;
  left: 0;
  right: 6;
  margin: 499px 0 0 -316px;
  line-height: 49px;
  text-align: right;
  z-index: 1;
  font-size: 77px;
}
h6 {
  display: block;

  margin-top: 30px;
}

p {
  font-size: 17px;
  line-height: 1.7;
  opacity: 0.8;
  line-break: loose;
}
ul {
  padding: 0;
  list-style: none;
}
section {
  padding-top: 30px;
}

/*Member Container */
.about-bandContent {
  margin-left: 50px;
}
section .members-content h2 {
  opacity: 1;
  font-size: 32px;
  margin-bottom: 10px;
}
section .members-content h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}
section .members-content img {
  filter: grayscale(100%);
  max-width: 300px;
  max-height: 300px;
}
section p a {
  text-decoration: none;
  color: white;
  opacity: 0.4;
}

section .members-content ul {
  padding: 0;
  list-style: none;
}
section .members-content li a {
  color: white;
  opacity: 0.2;
  text-decoration: none;
  font-style: italic;
}
section .members-content li {
  margin-bottom: 10px;
}
section .members-content .memberImg {
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
  transition: all 50ms ease-out;
  filter: grayscale(100%);
}

.memberImg.one {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/068/861/original/Elijah_Hewson.jpg?1677185875);
}
.memberImg.one:hover {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/070/474/original/Inhaler-Cheer-Up-Baby-Eli.gif?1678228006);
  filter: none;
}
.memberImg.two {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/068/863/original/Josh_Jenkinson.jpg?1677186099);
}
.memberImg.two:hover {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/070/475/original/Inhaler-Cheer-Up-Baby-Josh.gif?1678228726);
  filter: none;
}

.memberImg.three {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/068/865/original/Robert_Keating.jpg?1677186239);
}
.memberImg.three:hover {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/070/479/original/Inhaler-Cheer-Up-Baby-Bobby.gif?1678229164);
  filter: none;
}
.memberImg.four {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/068/864/original/Ryan_McMahon.jpg?1677186109);
}
.memberImg.four:hover {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/070/480/original/Inhaler-Cheer-Up-Baby-Ryan.gif?1678229248);
  filter: none;
}

/*  */
/* New Music Section*/
section.New-Music {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/069/342/original/clean-black-plaster.jpg?1677532525);
  color: white;
}

section.New-Music h3 {
  font-size: 67px;
  font-weight: bold;
}
section.New-Music h4 {
  font-family: "Overpass Mono", monospace;
  font-size: 50px;
  font-weight: bold;
  padding: 0 auto;
  margin: 0;
  text-align: left;
}
section.New-Music #merch h4 {
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  margin: 140px 0 100px 0;
}
section.New-Music h5 {
  margin: 20px 0;
  color: #d5d5d5;
  text-align: center;
  font-size: 20px;
}
section.New-Music h5:hover {
  color: red;
}
section.New-Music h6 {
  text-align: center;
  font-size: 15px;
}
section.New-Music a {
  text-decoration: none;
}
section.New-Music ul {
  display: inline-flex;
  padding: 0;
}
section.New-Music li {
  list-style: none;
  margin-right: 30px;
}
section.New-Music .merch img {
  background-color: #d5d5d5;
}
section.New-Music .musicIcon {
  filter: invert(100%);
  max-width: 50px;
  opacity: 0.6;
}
section.New-Music .musicIcon:hover {
  transition: all 00ms ease-out;
  opacity: 1;
}
.center {
  display: flex;
}
/*  */
/* Tour Section */
section.tour {
  padding-top: 80px;
}

section .table h2 {
  color: beige;
  font-size: 28px;
  font-weight: 800;
  opacity: 1;
  margin: 0;
  padding: 0 auto;
}
table {
  margin-bottom: 57px;
}
th,
td {
  opacity: 0.7;
  font-size: 18px;
  text-transform: uppercase;
}
.tourDate {
  visibility: hidden;
}
.subHeader {
  opacity: 1;
  color: white;
  text-align: left;
}
/*  */
/* Social Media */
section.socialMedia {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.342),
      rgba(0, 0, 0, 0.411),
      rgb(0, 0, 0)
    ),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/070/914/original/Untitled_design_%283%29.png?1678490197);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
section.socialMedia .content {
  padding: 100px 31px 86px 300px;
}
section.socialMedia h4 {
  font-size: 37px;
  margin-bottom: 1px;
  margin-top: -52px;
  text-align: right;
}

section.socialMedia h4 span {
  font-family: "Overpass Mono", monospace;
  font-weight: 400;
}
section.socialMedia .tiktokContent {
  max-width: 800px;
}
section.socialMedia .tiktok-photo {
  width: 351px;
  height: 638px;
  background-color: black;
}
section.socialMedia .tiktok-photo img {
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.socialMedia .tiktok-photo img:hover {
  opacity: 0.4;
}
section.socialMedia .instagramContent {
  max-width: 800px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
section.socialMedia h4.flip {
  color: whitesmoke;
  transform: rotate(-90deg);
  position: absolute !important;
  left: 0;
  right: 6;
  margin: 243px 0 0 15px;
  line-height: 49px;
  text-align: right;
  z-index: 1;
  font-size: 37px;
}
.tiktokContent h4.flip span {
  font-family: "Overpass Mono", monospace;
  font-weight: 400;
}
section.socialMedia .insta-photo {
  width: 400px;
  height: 400px;
  background-color: black;
}
section.socialMedia .insta-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.socialMedia .insta-photo img:hover {
  opacity: 0.4;
}
section.socialMedia .iconContent {
  display: inline-flex;
  grid-column: span 2;
  margin-top: 60px;
  justify-content: flex-end;
}

section.socialMedia .iconContent h5 {
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}
section.socialMedia .iconContent ul {
  display: inline-flex;
  align-items: center;
}
section.socialMedia .iconContent li {
  margin-left: 40px;
}

section.socialMedia img.iconInhaler {
  filter: invert(100%);
  width: 40px;
}
section.socialMedia img.iconInhaler:hover {
  filter: invert(90%);
}

/*  */
/* Footer */
footer {
  margin-top: 60px;
  padding: 40px 0 20px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.89)),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/069/911/original/ShopDesign-5932.jpg?1677879425);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: #55555534;
}
footer h5 {
  color: #eae9dd;
  font-size: 15px;
  margin: 0 0 10px 0;
}
footer p {
  color: #eae9dd;
  line-height: normal;
  font-size: 15px;
  line-break: anywhere;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer li {
  list-style: none;
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  opacity: 0.7;
}
footer a:hover {
  color: #eae9dd;
  opacity: 1;
}
/*  */

/* Grid  */
.grid {
  display: grid;
}
.grid-col-2 {
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 16px;
}
.grid-col-2.media {
  grid-template-columns: 1fr 1fr;
  gap: 0px;
}
.grid-col-2-tour {
  grid-template-columns: 1fr 1fr;

  gap: 5rem;
}
.grid-col-2-media {
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 4rem;
}
.grid-col-3 {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}
.grid-col-3.media {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px;
}
.grid-col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 16px;
}
.grid-footer {
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}
/*  */
/* Button*/
.btn {
  margin: 0 auto;
  padding: 20px 20px;
  font-size: 15px;
}
.btn.btn-Main {
  color: white;
  font-weight: bold;
  border: 4px solid white;
  text-align: center;
  background-color: black;
}
.btn.btn-Main:hover {
  color: black;
  border: 4px solid white;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
a.btn.btn-Main {
  text-decoration: none;
}
/*  */
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 100vw;
  margin-block: 0.5em;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(59, 59, 59);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(201, 199, 199);
}
/* Java */
.fade-in {
  opacity: 0;
  transition: opacity 950ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

/*  */

@media (max-width: 900px) {
  .container {
    padding: 0 50px;
  }
  section {
    color: white;
  }
  header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.425),
        rgba(0, 0, 0, 0.425)
      ),
      url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/070/481/original/ff040838b954df937eb6dab7e67f551c.jpg?1678231349);
    background-position: bottom;
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 168px 0;
  }
  header .logo {
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
    max-width: 258px;
  }

  h1 {
    display: block;
    margin: 20px 20px auto;
    padding: 129px 0;
    font-size: 43px;
    text-align: center;
    opacity: 1;
  }
  h2 {
    font-size: 10px;
  }
  h3 {
    font-size: 27px;
  }
  h4 {
    margin-top: 44px;
    font-size: 30px;
  }
  h4.flip {
    margin: 198px 0 0 -176px;
    line-height: 49px;
    font-size: 33px;
  }
  p {
    font-size: 15px;
  }
  section.New-Music h3 {
    font-size: 40px;
  }
  section.New-Music h4 {
    font-size: 20px;
    margin: 10px 0;
  }

  section.New-Music h5 {
    margin: 20px 0;

    font-size: 15px;
  }

  section.New-Music h6 {
    text-align: center;
    margin: 20px 0;
    font-size: 15px;
  }
  section.New-Music a {
    text-decoration: none;
  }
  section.New-Music ul {
    display: inline-flex;
    padding: 0;
  }
  section.New-Music li {
    list-style: none;
    margin-right: 30px;
  }
  section.New-Music .merch img {
    background-color: #d5d5d5;
  }
  section.New-Music .musicIcon {
    filter: invert(100%);
    max-width: 40px;
    opacity: 0.6;
  }
  section.New-Music .musicIcon:hover {
    transition: all 00ms ease-out;
    opacity: 1;
  }
  section.New-Music #merch h4 {
    margin-top: 90px;
    margin-bottom: 40px;
    font-size: 30px;
  }

  th,
  td {
    font-size: 10px;
  }
  section {
    padding: 90px 20px 30px 20px;
    height: 100%;
    color: white;
  }
  .about-bandContent {
    margin-left: 0px;
  }
  section.socialMedia .insta-photo {
    width: 234px;
    height: 234px;
    margin: 0;
  }

  .navbar {
    background: black;

    flex-direction: column;
    align-items: flex-start;
    padding: 0 0;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    background: black;

    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
    color: white;
  }

  .navbar-links.active {
    display: flex;
  }
  section.tour .tourTitle {
    display: inline-flex;
  }
  section.socialMedia {
    background-position: center;
    background-size: contain;
  }
  section.socialMedia h4 {
    font-size: 17px;
    margin-top: -76px;
  }
  section.socialMedia h4 span {
    font-size: 17px;
  }
  section.socialMedia .tiktokContent {
    margin: 65px 242px 20px 29px;
    max-width: 400px;
  }
  section.socialMedia .tiktok-photo {
    width: 155px;
    height: 241px;
  }

  section.socialMedia .instagramContent {
    margin: 65px 242px 20px 29px;
    max-width: 400px;
  }
  section.socialMedia h4.flip {
    margin: -28px 0 0 -69px;
    font-size: 17px;
  }

  section.socialMedia .insta-photo {
    width: 150px;
    height: 150px;
  }
  section.socialMedia .insta-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  section.socialMedia .insta-photo img:hover {
    opacity: 0.4;
  }
  section.socialMedia img.iconInhaler {
    max-width: 25px;
  }
  section.socialMedia .iconContent {
    display: inline-flex;
    grid-column: span 2;
    margin-top: 60px;
    justify-content: flex-end;
  }

  section.socialMedia .iconContent h5 {
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    font-size: 17px;
  }
  section.socialMedia .iconContent ul {
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
  }
  section.socialMedia .iconContent li {
    margin-left: 20px;
  }

  .grid {
    grid-template-columns: 1fr;
    align-items: center;
    justify-self: center;
    justify-content: center;
  }
}
